In [1]:
import pandas as pd

df = pd.read_csv('hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [10]:
median = df['test_score(out of 10)'].median(skipna=True)

df['test_score(out of 10)'].fillna(median, inplace=True)

In [13]:
import numpy as np

df['experience'].replace(np.NaN, 0, inplace=True)

In [14]:
!pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5582 sha256=008cb25da88ae716ef6bfd790fd03e8c4c993c629d4ab2cd7a04111d84763a02
  Stored in directory: /root/.cache/pip/wheels/4b/c3/77/a5f48aeb0d3efb7cd5ad61cbd3da30bbf9ffc9662b07c9f879
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [22]:
from word2number import w2n

nums = []
for i in df['experience']:
  nums.append(w2n.word_to_num(str(i)))

df['experience'] = nums
df.tail()

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [23]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()

In [26]:
X = ['experience', 'test_score(out of 10)', 'interview_score(out of 10)']
y = df['salary($)']
reg.fit(df[X], y)

LinearRegression()

In [27]:
reg.predict([[2, 9, 6]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([53205.96797671])

In [28]:
reg.predict([[12, 10, 10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([92002.18340611])